main {
  display: grid;
  grid-template-columns: 1fr 1fr auto;
  padding: 12px 16px 16px 16px;
  height: calc(100vh - 4px);
  box-sizing: border-box;
}

#editor {
  margin-right: 8px;
  grid-template-rows: 1fr auto;
  display: grid;
  row-gap: 8px;
}

#send-button {
  grid-row: 3 / 4;
  user-select: none;
}

#preview {
  margin-left: 8px;
  overflow-y: auto;
  font-size: 1.2em;
  line-height: 1.5em;
  grid-column: 2 / 3;
}

#history {
  margin-left: 8px;
  grid-template-rows: auto auto 1fr;
  display: grid;
  grid-column: 3 / 4;
}

#history.history-close {
  display: none;
}

#history-open-close {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  z-index: 100;
  text-align: right;
}

#history-open-close-button {
  margin-bottom: 4px;
}

#history-table {
  grid-row: 1 / 3;
  grid-column: 1 / 2;
}

pre code {
  border-radius: 4px;
  font-family: "Cascadia Code";
  text-wrap: wrap;
  word-break: break-all;
  font-size: .75em;
  line-height: 1.25em;
}

.table-header-cell {
  user-select: none;
}

.table-row {
  transition: .3s;
}

.table-cell {
  padding: 0 !important;
}

.table-cell-layout {
  padding: 0 8px 0 8px;
  user-select: none;
  height: 100%;
  cursor: pointer;
}

#progress-bar.hidden {
  visibility: collapse;
}

/* Webkitブラウザ用のスクロールバーのスタイル */
::-webkit-scrollbar {
  width: 21px; /* スクロールバーの幅 */
}

::-webkit-scrollbar-track {
  background: transparent; /* スクロールバーの背景を透過 */
}

::-webkit-scrollbar-thumb {
  background-color: #424242; /* スクロールバーのつまみの色と透明度 */
  border-radius: 0px; /* 角丸 */
  /* border: 3px solid transparent; つまみの周りの透明な境界線 */
  background-clip: content-box; /* 背景のクリップ */
  border-left: 8px solid transparent;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #4F4F4F; /* スクロールバーのつまみの色と透明度 */
  border-radius: 0px; /* 角丸 */
  /* border: 3px solid transparent; つまみの周りの透明な境界線 */
  background-clip: content-box; /* 背景のクリップ */
  border-left: 8px solid transparent;
}